@font-face {
  font-family: 'Chalkduster';
  src: url('fonts/Chalkduster.eot');
  src: url('fonts/Chalkduster.eot?#iefix') format('embedded-opentype'),
       url('fonts/Chalkduster.svg#Chalkduster') format('svg'),
       url('fonts/Chalkduster.ttf') format('truetype'),
       url('fonts/Chalkduster.woff') format('woff'),
       url('fonts/Chalkduster.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  background: grey;
  text-align: center;
  font-family: "Chalkduster";
}

h1{
  text-align: center;
}

#box {
  position: relative;
  display: block;
  margin: auto;
  width: 70%;
  height: 70%;
}

#question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: black;
  color: white;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 2px solid black;
  text-shadow: black 1px 0 5px;
  cursor: pointer;
}

.answer {
  cursor: pointer;
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  text-shadow: black 1px 0 5px;
  font-size: 20px;
}

#colourOne {
  top: 0%;
  left: 0%;
  background: green;
  align-items: flex-start;
}

#colourTwo {
  top: 0%;
  right: 0%;
  background: blue;
  align-items: flex-start;
}

#colourThree {
  top: 50%;
  left: 0%;
  background: yellow;
  align-items: flex-end;
}

#colourFour {
  top: 50%;
  right: 0%;
  background: purple;
  align-items: flex-end;
}

.colourText {
  font-size: 50px;
  padding: 20px;
}
