@font-face {
  font-family: 'Chalkduster';
  src: url('fonts/Chalkduster.eot');
  src: url('fonts/Chalkduster.eot?#iefix') format('embedded-opentype'),
       url('fonts/Chalkduster.svg#Chalkduster') format('svg'),
       url('fonts/Chalkduster.ttf') format('truetype'),
       url('fonts/Chalkduster.woff') format('woff'),
       url('fonts/Chalkduster.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html{
  min-width: 320px;
}

body {
  background: #EBECE4;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-bottom: 5px;
}

h3{
  padding: 0px 60px;
}

#box {
  position: relative;
  display: block;
  margin: auto;
  width: 70%;
  height: 70%;
  font-family: "Chalkduster";
}

#question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: black;
  color: white;
  height: 30%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 2px solid black;
  text-shadow: black 1px 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.answer {
  cursor: pointer;
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  text-shadow: black 1px 0 5px;
  font-size: 20px;
}

#colourOne {
  top: 0%;
  left: 0%;
  background: green;
  align-items: flex-start;
  border-radius: 10px 0px 0px 0px;
}

#colourTwo {
  top: 0%;
  right: 0%;
  background: blue;
  align-items: flex-start;
  border-radius: 0px 10px 0px 0px;
}

#colourThree {
  top: 50%;
  left: 0%;
  background: yellow;
  align-items: flex-end;
  border-radius: 0px 0px 0px 10px;
}

#colourFour {
  top: 50%;
  right: 0%;
  background: purple;
  align-items: flex-end;
  border-radius: 0px 0px 10px 0px;
}

.colourText {
  font-size: 40px;
  padding: 20px;
}

@media screen and (max-width:600px) {
  #question, .colourText{
    font-size: 30px;
  }
}

@media screen and (max-width:400px){
  #question, .colourText{
    font-size: 20px;
  }
}
